.episodes {
  background: #005c97; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #363795,
    #005c97
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #363795,
    #005c97
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  clip-path: polygon(
    41% 11%,
    41% 5%,
    71% 5%,
    71% 0,
    100% 0,
    100% 94%,
    0 100%,
    0 18%,
    17% 18%,
    17% 11%
  );
  position: relative;
  padding: 300px 0px 250px 0px;
  width: 100vw;
  bottom: -95px;
  height: 100%;
  margin: 0px 0px 200px;
}

.spotify {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

iframe {
  width: 90%;
  height: 300px;
  margin: 0px;
}

#title_episodes {
  color: #fff;
  font-size: 2em;
  margin: 60px 90px 40px;
}

@media screen and (min-width: 768px) {
  iframe {
    width: 40%;
    margin: 10px 20px;
  }

  #title_episodes {
    margin: 60px 150px 40px;
  }
}
